<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- load MUI -->
    <link
      href="//cdn.muicss.com/mui-0.9.43/css/mui.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <script src="//cdn.muicss.com/mui-0.9.43/js/mui.min.js"></script>
    <!-- TODO change to production mode -->
    <script src="assets/vue.js"></script>

    <title>Scrum pocker online</title>
  </head>

  <body>
    <div id="app" class="mg-t">
      <div class="mui-container-fluid">
        <div class="mui-row" v-if="!curRoom">
          <div
            class="mui-col-md-10 mui-col-xs-12 mui-col-md-offset-1 mui-col-xs-offset-0"
          >
            <div class="mui-panel">
              <form-create-room></form-create-room>
              <div
                class="mui-divider"
                v-if="Object.values(availableRoom.rooms).length > 0"
              ></div>
              <div
                class="mui-row"
                v-if="Object.values(availableRoom.rooms).length > 0"
              >
                <div class="mui-col-md">
                  <h2>Room list</h2>
                </div>
                <div
                  class="mui-col-md-3 mui-col-xs-6 mui-col-md-offset-0 mui-col-xs-offset-0"
                  v-for="name in Object.keys(availableRoom.rooms)"
                  :key="name"
                >
                  <card-room :name="name"></card-room>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mui-row" v-if="!!curRoom">
          <div class="mui-col-md">
            <h2>Room: {{ curRoom.name }}</h2>
            <div class="mui-row" v-if="me && me.role ==='admin'">
              <div class="float-right mg-r">
                <button
                  v-on:click="show"
                  class="mui-btn mui-btn--primary"
                  id="btn-show"
                  style="font-size: 28px;"
                  :disabled="disabled"
                >
                  🙉
                </button>
                <button
                  v-on:click="clear"
                  class="mui-btn mui-btn--danger"
                  id="btn-clear"
                  style="font-size: 28px;"
                >
                  🙈
                </button>
              </div>
            </div>
          </div>
          <div class="mui-divider"></div>
          <div class="mui-row">
            <div class="middle">
              <form class="mui-form--inline" @submit.prevent="onSubmitTime">
                <div class="mui-textfield">
                  <input v-model="point" type="text" />
                </div>
                <button class="mui-btn" style="font-size: 28px;">🙊</button>
              </form>
            </div>
          </div>
          <div
            class="mui-col-md-3 mui-col-xs-6 mg-t"
            v-for="mem of curRoom.joinedMembers"
            :key="mem.name"
          >
            <card-user :mem="mem"></card-user>
          </div>
        </div>
      </div>
    </div>

    <script type="text/x-template" id="form-create-room">
      <div class="mui-row">
        <div class="mui-col-md-6 mui-col-xs-12 mui-col-md-offset-3 mui-col-xs-offset-0">
          <form class="mui-form" @submit.prevent="onSubmit">
            <h2>
              <legend>Create Room</legend>
            </h2>
            <div class="mui-textfield">
              <input v-model="roomName" required type="text" placeholder="Room name" maxlength="14" size="14">
            </div>

            <div class="mui-textfield">
              <input v-model="yourName" required type="text" placeholder="Your name" maxlength="14" size="14">
            </div>

            <div class="middle"><button type="submit" class="mui-btn mui-btn--raised">GO</button></div>
          </form>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="card-room">
      <div class="mui-panel">
        <h1 style="color: #ca1313; text-align: center">{{ name }}</h1>
          <form class="mui-form" id="join-room-form" @submit.prevent="onSubmit">
            <div class="mui-textfield">
              <input type="text" v-model="yourName" name="name" placeholder="Your name" autocomplete="off" maxlength="14" size="14">
            </div>
            <div style="display: flex; justify-content: center;">
              <button type="submit" class="mui-btn mui-btn--primary">Join</button>
            </div>
          </form>
      </div>
    </script>

    <script type="text/x-template" id="card-user">
      <div class="mui-panel">
        <div style="display: flex; justify-content: center;">
          <div v-if="mem.point" class="middle" style="border-radius: 6%; width: 50px; height: auto; background: #57bf57; color: #fdfdfd; text-align: center">Done</div>
        </div>
        <h2>
          {{mem.name}}
        </h2>
        <div style="display: flex; justify-content: center;">
          <h1 v-if="mem.status === 'show'" class="show" style="text-align: center; color: #3fbeff">{{ mem.point }}</h1>
        </div>
      </div>
    </script>
  </body>
</html>
